* {
    font-family: 'Roboto', sans-serif;
    font-size: 2.8vh;
}

html {
    background: radial-gradient(ellipse farthest-corner at center, white, rgba(187, 182, 182, 0.598));
}

body {
    margin: 15% 25%;
    text-align: justify;
}

h1 {
    font-size: 10vh;
}

h1 span {
    font-size: 10vh;
    color: #D6AF23;
    font-weight: 100;
    font-style: italic;
}

h3 {
    font-weight: 100;
    font-size: 3vh;
}

li {
    font-size: 4vh;
    list-style-position: inside;
}

footer {
    text-align: center;
}

.fontBold {
    font-weight: bold;
}

.fontColor {
    color: #D6AF23;
}

.fontItalic {
    font-style: italic;
}

.fontLight {
    font-weight: 300;
}

.fontThin {
    font-weight: 100;
}

/*LAPTOP*/
@media only screen and (min-width: 961px) {
    h2 {
        font-size: 7vh;
        font-weight: 300;
        font-style: italic;
        margin: 0;
    }

    h2:last-of-type {
        padding-bottom: 5vh;
    }

    ul {
        padding-left: 0;
        line-height: 5vh;
    }

    footer {
        text-align: center;
    }

    footer div p:nth-child(1),
    footer div p span {
        font-size: 8vh;
        margin-bottom: 1vh;
    }

    footer div p:nth-child(2) {
        font-size: 5vh;
    }

    footer div p:nth-child(3) {
        font-size: 3vh;
    }

    .spaceBetweenPuceItem {
        padding-left: 8vh;
    }
}

/*TABLET*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        margin: 10% 12%;
        text-align: justify;
    }

    h2 {
        font-size: 4.5vh;
        font-weight: 300;
        font-style: italic;
        margin: 0;
    }

    h2:last-of-type {
        padding-bottom: 4vh;
    }

    ul {
        padding-left: 0;
        line-height: 4vh;
    }

    footer div p:nth-child(1),
    footer div p span {
        font-size: 8vh;
        margin-bottom: 1vh;
    }

    footer div p:nth-child(2) {
        font-size: 4vh;
    }

    footer div p:nth-child(3) {
        font-size: 2vh;
    }

    .spaceBetweenPuceItem {
        padding-left: 5vh;
    }
}

/*PHONE*/
@media only screen and (max-width: 400px) {
    body {
        margin: 5%;
        text-align: justify;
        line-height: 4vh;
    }

    h2 {
        font-size: 4vh;
        font-weight: 300;
        font-style: italic;
        margin: 0;
    }

    h2:last-of-type {
        padding-bottom: 2vh;
    }

    ul {
        padding-left: 0;
        line-height: 4vh;
    }

    footer div p:nth-child(1),
    footer div p span {
        font-size: 5vh;
        margin-bottom: 1vh;
    }

    footer div p:nth-child(2) {
        font-size: 3vh;
    }

    footer div p:nth-child(3) {
        font-size: 2vh;
    }

    .spaceBetweenPuceItem {
        padding-left: 3vh;
    }
}